<app-admin-nav></app-admin-nav>


<div class="row">
<div class="col">
  <div *ngIf="item.discontinued" class="alert alert-danger text-center" role="alert">
    This product has been Discontinued
  </div>
</div>
  </div>
  <div class="row">
    <div class="col text-right">
      <h2>Product: {{item.name}}</h2>
    </div>
    <div class="col text-center">
        <a class="btn btn-outline-secondary" href="admin/products/item/edit/{{item.id}}">
          <i class="bi bi-wrench"></i> Edit
        </a>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <img src="assets/demand.jpg" alt="Anticipated Demand Graph" class="logo">
    </div>

  <div class="col-6 text-center">
    <img src="assets/pricehistory.png" alt="Price History Graph" class="logo">
  </div>
  </div>

<div class="row">
  <div class="col-6 text-left">
    <h4>Current Stock: {{item.instock}}</h4>
    <h4>Price: ${{(item.price) | number:'1.2-2'}}</h4>
    <h4>Cost: ${{(item.cost) | number:'1.2-2'}}</h4>
    <h4>Profit: ${{(item.price - item.cost) | number:'1.2-2'}} </h4>
  </div>
  <div class="col-6 text-right">
    <h4>Anticipated Demand: Stock amount</h4>
    <h4>Total Price: ${{(item.price * item.instock) | number:'1.2-2'}}</h4>
    <h4>Total Cost: ${{ (item.cost * item.instock) | number:'1.2-2'}}</h4>
    <h4>Total Profit: ${{((item.price - item.cost) * item.instock) | number:'1.2-2'}}</h4>

  </div>
</div>

<div class="row">
  <div class="col">
      <a class="btn btn-outline-primary btn-lg" href="#">
        <i class="bi bi-card-list"></i> Order More
      </a>
  </div>
  <div class="col">
      <button type="button" *ngIf="!item.discontinued" (click)="discontinue()" class="btn btn-outline-danger btn-lg float-right">
        <i class="bi bi-x-circle"></i> Discontinue
      </button>
    </div>
</div>

