<app-admin-nav></app-admin-nav>


<div class="row">
  <div class="col-7 text-right">
    <h2>Test Item: Info</h2>
  </div>
  <div class="col-5 text-center">
    <button type="button" class="btn btn-primary btn-lg">Edit Details</button>
  </div><br><br><br><br><br>

  <div class="col-6 text-center">
    <img src="assets/demand.jpg" alt="Anticipated Demand Graph" class="logo">
  </div>
  <div class="col-6 text-center">
    <img src="assets/pricehistory.png" alt="Price History Graph" class="logo">
  </div><br><br><br><br><br>

  <div class="col-6 text-left">
    <h4>Current Stock: Stock amount</h4>
  </div>
  <div class="col-6 text-right">
    <h4>Anticipated Demand: Stock amount</h4>
  </div><br><br><br><br><br>

  <div class="col-6 text-left">
    <button type="button" class="btn btn-primary btn-lg">Order More</button>
  </div>
  <div class="col-6 text-right">
    <button type="button" class="btn btn-primary btn-lg">Discontinue Product</button>
  </div><br><br><br><br><br>
</div>
