<app-admin-nav></app-admin-nav>
<div class="row">
  <div class="col text-center">
    <h2>Creating New Item</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="input-group input-group-lg form-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="itemName">Name: </label>
      </div>
      <input type="text" class="form-control" [(ngModel)]="item.name" aria-label="Large"  aria-describedby="inputGroup-sizing-sm" id="itemName" name="itemName">
    </div>

    <div class="input-group input-group-lg form-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="price">Price ($):</label>
      </div>
      <input type="number" class="form-control" [(ngModel)]="item.price" aria-label="Large"  aria-describedby="inputGroup-sizing-sm" id="price" name="price">
    </div>

    <div class="input-group input-group-lg form-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="itemDescription">Description: </label>
      </div>
      <textarea class="form-control" [(ngModel)]="item.description" aria-label="itemDescriptionSpan" id="itemDescription" name="itemName"></textarea>
    </div>

    <div class="input-group input-group-lg form-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="stock">Stock: </label>
      </div>
      <input type="number" class="form-control" [(ngModel)]="item.stock" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="stock" name="stock">
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-outline-primary btn-lg float-left" (click)="addItem()">
      <i class="bi bi-plus-circle"></i> Add New
    </button>
    <a class="btn btn-primary btn-lg float-right" href="admin/products">
      Return To Product List
    </a>
  </div>
</div>
