<!--Welcome to Inventory Insights.
<a href="admin">Go to admin</a>
<a href="shop">Go to Shop</a>-->



<!-- whole page-->
<div class="container-fluid banner ">



<!--Header Nav-->
<div class="row bg-white">
  <div class="col text-center">
    <nav class="navbar">
  <img src="assets/Icon.PNG" alt="Inventory Insights" class="logo">
      </nav>
  </div>
</div>

<!-----------Main Body------------->
<!--Main Title-->
<div class="body">
  <div class="row">
    <h1 class="text-success">Welcome to Inventory Insights</h1>
  </div>

  <div>
    <p>your leading inventory management system designed with ease.</p>
  </div>


  <div class="row-button">
  <!--Button for Admin Login-->
  <div class="row">
    <div class="col-sm-4">
<button href="admin" type="button" class="btn btn-outline-primary ">Go to Admin</button>
    </div>

    <!--Button for Shop-->
    <div class="col-sm-4">
<button href="shop" type="button" class="btn btn-outline-success ">Go to Shop</button>
    </div>
    </div>

  </div>
</div>
  </div>

