<app-admin-nav></app-admin-nav>
<div class="row">
  <div class="col text-center">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <canvas mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)" class="chart">
    </canvas>
  </div>
</div>
