<app-admin-nav></app-admin-nav>
<div class="row">
  <div class="col text-center">
    <h2>Products</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="btn btn-outline-primary float-right" href="admin/products/item/add">
      <i class="bi bi-plus-circle"></i>
      Add New Item
    </a>
  </div>
</div>
<div class="row">
    <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#SKU</th>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">Price</th>
          <th scope="col">Options...</th>
        </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of displayedItems">
        <tr *ngIf="!item.discontinued">
          <th>{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>${{ item.cost }}</td>
          <td>${{ item.price }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Options">
              <a class="btn btn-outline-primary" href="admin/products/item/info/{{item.id}}">Statistics</a>
              <a class="btn btn-outline-secondary" href="admin/products/item/edit/{{item.id}}">Edit Item</a>
              <button class="btn btn-outline-danger" (click)="discontinue(item.id)">Discontinue Item</button>
            </div>
          </td>
        </tr>
      </ng-container>

      </tbody>
    </table>

  </div>
</div>
<div class="row">
  <div class="col">
        <ul class="pagination justify-content-center">
            <li class="page-item" *ngIf="currentPage > 0"><span class="page-link" (click)="getDisplayedItems(currentPage - 1, currentPage)">Previous</span></li>
            <li class="page-item" [ngClass]="{ 'active': currentPage == i }" *ngFor="let page of pages; let i = index;">
              <span class="page-link" (click)="getDisplayedItems(i, i + 1)">{{ i+1 }}</span>
            </li>
            <li class="page-item" *ngIf="currentPage < maxPages - 1"><span class="page-link" (click)="getDisplayedItems(currentPage + 1, currentPage + 2)" >Next</span></li>
        </ul>
  </div>
</div>

