/* You can add global styles to this file, and also import other style files */
.padding-top {
  padding-top: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-left {
  padding-left: 10px;
}

.b, .bold {
  font-weight: bold;
}
